.App {
  text-align: center;
	background-color: #007acc;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,ol
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
	font-size: 13px;
	
	background-color: #3E3E42;
}

ul,ol {
  list-style: none;
	text-align: left;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  } 
}

img:not([alt]) {
	border: 2px solid red
}

.container {
	max-width: 1380px;
	padding: 0 20px;
}

.recipe {
	padding: 30px;
}

.recipe__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.recipe__item {
  background-color: #fff;
  border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.recipe__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.recipe__description {
  font-size: 12px;
  line-height: 1.5;
  color: #e6e6e6;
  margin-bottom: 10px;
}

.recipe__instructions,
.recipe__ingredients {
}

.recipe__instructions{
	font-size: 11px;
}

.recipe__instructions li,
.recipe__ingredients li {
  margin-bottom: 5px;
}

.recipe__ingredients {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;

}

.recipe__ingredients li {
	position: relative;
}

.recipe__ingredients::before{
	content:'';
	position: absolute;
	height: 90%;
	width: 1px;

}

.recipe__image {
	max-width: 100%;
	padding-bottom: 50%;
	position: relative;
}
.recipe__image img {
	position: absolute;width: 100%;height: 100%;top: 0;left: 0;object-fit: cover;object-position: center;
} 